@font-face {
    font-family: 'Bau';
    src: url('../Assets/Fonts/Bau-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Benne';
    src: url('../Assets/Fonts/Benne-Regular.ttf') format('truetype');
}